* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@media screen and (max-width: 1280px) {
	body {
		width: 1200px;
	}
}
@media screen and (max-width: 1140px) {
	body {
		width: 1024px;
	}
}
@media screen and (max-width: 992px) {
	body {
		width: 970px;
	}
}

@media screen and (max-width: 320px) {
	body {
		width: 100%;
	}
}
body {
  height: 100vh;
  //display: flex;
  background: #FF851B;
}
@font-fice{
   font-family: "RAVIE";
   src: local("RAVIE"),
   url(/fonts/RAVIE.ttf);
}
button1, button2{
   width: 400px;
   height: 200px;
   display:block;
   position: relative;
   border: 1px solid white;
   margin:0 auto; // отцентрирует блок по центру родительского элемента
   padding: 20px;
   border-radius: 20px;
   color:#FF851B;
   //background: #001F3F;
   font-size: 300%;
   text-align:center;
   padding-top: 70px;
   margin-bottom: 10px;
	font-family: "RAVIE";
   
}
.navigation{
	width: 1024px;
	display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 5px solid black;
    padding: 20px;
	height: 180px;
}
.time{
	width:calc(35% - 10px);
	background: #001F3F;
	color:#FF851B;
	font-size: 100%;
	text-align: left;
	padding-left: 10px;
	padding-top: 30px;
	font-family: "RAVIE";
}
.Score{
	width:calc(35% - 10px);
	background: #001F3F;
	text-align: center;
	padding-top: 30px;
	font-family: "RAVIE";
}
a{
	color: #FF851B;
	font-size: 200%;
}
.units{
	background: #001F3F;
}
table{
	//margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
	//margin: right; /* Выравниваем таблицу по центру окна  */
	width: 80px; /* Ширина слоя кнопок */
}
.unit,.unit1 {
    border: 1px solid #000; /* Рамка вокруг текста */
	margin:2px;
	margin-top:10px;
    padding: 2px; /* Поля вокруг текста */
    text-decoration: none;
	text-align: center;
    color: #442C2E;
    background:#FF851B;
    display:inline-block;
	width: 60px;
    height: 100px;
	border-radius: 20%;
}


.game_field {
  cursor:pointer;
  width: 1024px;
  height: 1024px;
  margin: auto;
  display: inline-block; /* Отображать как строчный элемент */
  //display: flex;
  //flex-wrap: wrap;
  perspective: 1000px;
}

.game_row{
  display: inline-block;
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  perspective: 1000px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 10px;
  background: #001F3F;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.front-face {
  transform: rotateY(180deg);
}
.game_row:active {
  transform: scale(0.97);
  transition: transform .2s;
}
.game_row.flip {
  transform: rotateY(180deg);
}
footer{
  width: 1024px;
  height: 80px;
  background: #001F3F;
  text-align:center;
}

.hide{
	visibility: hidden;
}
